<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/#/">POINT TECHNOLOGIC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#/product-home">Productos</a>
      </ul>
    </div>
    <div class="d-flex">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#/history" class="nav-link">
            <i class="fas fa-history fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#/shopping-cart" class="nav-link">
            <i class="fas fa-shopping-cart fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-user-alt fa-lg"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="/#/login">
                      Login
                      <i class="fas fa-sign-in-alt fa-lg"></i> 
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/#/register">
                      Register
                      <i class="fas fa-clipboard-list fa-lg"></i>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    
  </div>
</nav>