<div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 220px;height: 100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    Usuarios
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    Categorías
                </a>
            </li>
            <li>
                <a href="/#/dashboard/producto" data-toggle="tab" class="nav-link text-white">
                    Productos
                </a>
            </li>

        </ul>
        <hr>

    </div>
    <div class="tab-content">
        <div class="">
            <section id="dashboard-content">

            </section>
        </div>
    </div>
</div>