<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<style>
    .img-flag{
        width: 50px;
        height: 50px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-container">
                            <table class="table table-responsive  table-light table-striped">
                                <thead>
                                    <th class="col-sm-2">Foto</th>
                                    <th class="col-sm-3">Producto</th>
                                    <th class="col-sm-2">Precio</th>
                                    <th class="col-sm-3">Fecha</th>
                                </thead>
                                <tbody id="items-history">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<template id="product-row">
    <tr>
        <td id="image">
            <img alt="" class="img-flag">
        </td>
        <td id="producto">
            $ 1'200.000
        </td>
        <td id="precio">
            2
        </td>
        <td id="fecha">
            $ 1'200.000
        </td>
    </tr>
</template>