<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<div class="container">
    <div class="row">
        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-container">
                            <table class="table table-responsive  table-light table-striped">
                                <thead>
                                    <th class="col-sm-2">Foto</th>
                                    <th class="col-sm-3">Producto</th>
                                    <th class="col-sm-2">Precio</th>
                                    <th class="col-sm-3">Fecha</th>
                                </thead>
                                <tbody>
                                    <tr class="row-table-history">
                                        <td>
                                            <img src="https://http2.mlstatic.com/D_NQ_NP_829435-MCO41534006727_042020-O.jpg"
                                                class="media-photo">
                                        </td>
                                        <td>
                                            <p class="title">
                                                Secador Remington
                                            </p>
                                        </td>
                                        <td>
                                            <p class="summary">$120.000</p>
                                        </td>
                                        <td>
                                            <div class="date-container">
                                                <i class="fa fa-calendar-days mr-2"></i>
                                                <span>Febrero 13, 2022</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="row-table-history">
                                        <td>
                                            <img src="https://http2.mlstatic.com/D_NQ_NP_829435-MCO41534006727_042020-O.jpg"
                                                class="media-photo">
                                        </td>
                                        <td>
                                            <p class="title">
                                                Secador Remington
                                            </p>
                                        </td>
                                        <td>
                                            <p class="summary">$120.000</p>
                                        </td>
                                        <td>
                                            <div class="date-container">
                                                <i class="fa fa-calendar-days mr-2"></i>
                                                <span>Febrero 13, 2022</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="row-table-history">
                                        <td>
                                            <img src="https://http2.mlstatic.com/D_NQ_NP_829435-MCO41534006727_042020-O.jpg"
                                                class="media-photo">
                                        </td>
                                        <td>
                                            <p class="title">
                                                Secador Remington
                                            </p>
                                        </td>
                                        <td>
                                            <p class="summary">$120.000</p>
                                        </td>
                                        <td>
                                            <div class="date-container">
                                                <i class="fa fa-calendar-days mr-2"></i>
                                                <span>Febrero 13, 2022</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="row-table-history">
                                        <td>
                                            <img src="https://http2.mlstatic.com/D_NQ_NP_829435-MCO41534006727_042020-O.jpg"
                                                class="media-photo">
                                        </td>
                                        <td>
                                            <p class="title">
                                                Secador Remington
                                            </p>
                                        </td>
                                        <td>
                                            <p class="summary">$120.000</p>
                                        </td>
                                        <td>
                                            <div class="date-container">
                                                <i class="fa fa-calendar-days mr-2"></i>
                                                <span>Febrero 13, 2022</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="row-table-history">
                                        <td>
                                            <img src="https://http2.mlstatic.com/D_NQ_NP_829435-MCO41534006727_042020-O.jpg"
                                                class="media-photo">
                                        </td>
                                        <td>
                                            <p class="title">
                                                Secador Remington
                                            </p>
                                        </td>
                                        <td>
                                            <p class="summary">$120.000</p>
                                        </td>
                                        <td>
                                            <div class="date-container">
                                                <i class="fa fa-calendar-days mr-2"></i>
                                                <span>Febrero 13, 2022</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="row-table-history">
                                        <td>
                                            <img src="https://http2.mlstatic.com/D_NQ_NP_829435-MCO41534006727_042020-O.jpg"
                                                class="media-photo">
                                        </td>
                                        <td>
                                            <p class="title">
                                                Secador Remington
                                            </p>
                                        </td>
                                        <td>
                                            <p class="summary">$120.000</p>
                                        </td>
                                        <td>
                                            <div class="date-container">
                                                <i class="fa fa-calendar-days mr-2"></i>
                                                <span>Febrero 13, 2022</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>