<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<style>
    .img-flag {
    width: 50px;
    height: 50px;
  }
</style>
<div class="container-fluid mt-4">
    <div class="card text-white bg-dark" style="border-radius: 0px;">
        <div class="card-header">
            <h1 class="text-center">Historial</h1>
        </div>
        <div class="table-container">
            <table class="table table-responsive  table-dark table-striped " id="table-history">
            </table>
        </div>
    </div>
</div>

<div class="row mt-4 ms-1">
    <div class="col">
        <button id="btn-print" class="btn btn-primary">
            Imprimir comprobante
        </button>
    </div>
</div>

<template id="product-row">
    <tr>
        <td id="image">
            <img alt="" class="img-flag">
        </td>
        <td id="producto">
            $ 1'200.000
        </td>
        <td id="precio">
            2
        </td>
        <td id="fecha">
            $ 1'200.000
        </td>
    </tr>
</template>