<div class="container-fluid">
    <div class="card mt-4 bg-dark">
        <h2 class="text-center text-white mt-3">Categorías</h2>
        <div class="card-body">
            <div class="search-container d-flex justify-content-center row">
                <div class="col-6">
                    <div class="input-group mb-3 ">
                        <input type="text" class="form-control bg-dark text-white " id="txtBuscarCategoria"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-warning" type="button" id="btnSearch"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>

            <div class="mt-4 row " style="text-align: end;">
                <div class="button-container">
                    <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalCategoryForm">
                        <i class="fas fa-plus"></i>
                        Nueva Categoría
                    </button>
                </div>
            </div>
            <table class="table table-dark table-hover table-admin">
                <thead>
                    <th>Id </th>
                    <th>Categoría </th>
                    <th>Acciones</th>
                </thead>
                <tbody id="list-category">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalCategoryForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalCategoryFormLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-da">
                <form class="row" id="formCategory">
                    <div class="mb-3">
                        <label for="txtIdCategoria" class="form-label">Id</label>
                        <input type="text" class="form-control" id="txtIdCategoria" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="txtCategoria" class="form-label">Categoría</label>
                        <input type="text" class="form-control" id="txtCategoria" aria-describedby="emailHelp">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-warning" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>