<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="p-5 row">
        <div class="col">
            <h1 class="text-center">Your Cart</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="table-responsive">
                <table class="table table-borderless table-hover">
                    <thead class="table-dark">
                        <tr>
                          <th scope="col">Producto</th>
                          <th scope="col">Precio</th>
                          <th scope="col">Cantidad</th>
                          <th scope="col">Total</th>
                          <th scope="col">Acción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Computador Asus</th>
                          <td>$ 1'200.000</td>
                          <td>2</td>
                          <td>$ 1'200.000</td>
                          <td>
                              <button  class="btn btn-outline-dark">
                                <i class="fas fa-trash"></i>
                                Eliminar
                                </button>
                          </td>
                        </tr>
                        <tr>
                            <th scope="row">Computador Asus</th>
                            <td>$ 1'200.000</td>
                            <td>2</td>
                            <td>$ 1'200.000</td>
                            <td>
                                <button class="btn btn-outline-dark">
                                    <i class="fas fa-trash"></i>
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Computador Asus</th>
                            <td>$ 1'200.000</td>
                            <td>2</td>
                            <td>$ 1'200.000</td>
                            <td>
                                <button class="btn btn-outline-dark">
                                    <i class="fas fa-trash"></i>
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                      </tbody>
                </table>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-dark">
                <div class="card-header">
                  Order Summary
                </div>
                <div class="card-body">
                  <h6>Subtotal</h6>
                  <h6>Shipping</h6>
                </div>
                <div class="card-footer text-white">
                    Total
                </div>
            </div>
            <div class="pt-2 d-grid gap-2">
                <button class="btn btn-success" type="button">Checkout</button>
            </div>
        </div>
    </div>
</div>